<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |task| %>
          <li><%= task %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
    
      <div class="row">
        <div class="col-xs-12"></div>
        <div class="col-sm-8 col-sm-offset-2"></div>
        <div class="col-md-8 col-md-offset-2"></div>
        <div class="col-lg-6 col-lg-offset-3"></div>
      </div>
    </div>
    
  <div class="form-group">
  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
  </div>
  
   <div class="form-group">
   <%= f.label :status, '状態' %>
   <%= f.text_field :status %>
   </div>

  <%= f.submit '保存' , class: 'btn btn-primary'  %>
<% end %>